
ul {list-style-type: none;margin:0px; padding: 5px; overflow: hidden;background-color: #333; top: 0px; left: 0px;position: fixed; width: 100%;}
li {float: left;}
li a, .dropbtn {display: inline-block;color: white;text-align: center;padding: 15px 18px;text-decoration: none; }
li a:hover, .dropdown:hover .dropbtn {background-color: #ff0000;}
li.dropdown {display: inline-block;}
.dropdown-content {display: none;position: fixed;background-color: #f9f9f9;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;}
.dropdown-content a {color: black;padding: 12px 16px;text-decoration: none;display: block;text-align: left;}
.dropdown-content a:hover {background-color:#7a7a7a;}
.dropdown:hover .dropdown-content {display: block;}

.header {padding-top: 0px;padding-bottom: 5px; text-align: center;height: 120px;width: 100%;}
h1{padding-top: 180px;padding-left: 15px;padding-bottom: 0px;}
.column {float: left; width: 46%; padding: 15px;}
.row::after {content: ""; display: table; clear: both;}
img.a{height: 700px; width: 500px;border-radius: 10%;text-align: left;}
p{text-align: justify; font-size: large;padding-bottom: 0px;}
body{background-color: rgb(206, 229, 255);text-align: left; padding: 5px; margin: 0px;}

